<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Pizzaness; integrated security=True;"/>
  </connectionStrings>
    <appSettings>
      <add key="ConnectionStringName" value="DefaultConnection"/>
      <add key="DonotReplyEmail" value="no-reply@pizzaness.com"/>
      <add key="OrderReceiveEmail" value="smajidali26@hotmail.com;orders@pizzaness.com"/>
      <add key="SmtpServer" value="smtpout.secureserver.net" />
      <add key="SmtpPort" value="25" />
      <add key="EmailAddress" value="orders@pizzaness.com" />
      <add key="Password" value="Welcome123#" />
      <add key="EnableSSL" value="false"/>
    </appSettings>
</configuration>