@charset "utf-8";
/* CSS Document */
body {
	background: url(../images/boxed-body-bg.gif) repeat;
}
#wrapper{
	background:#101010;
}
.boxed {
	max-width: 1210px !important;
	margin: 0 auto;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	-webkitbox-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	float: none !important;
	/*border-left:10px solid rgba(16,16,16,0.3);
	border-right:10px solid rgba(16,16,16,0.3);*/
}
