@charset "utf-8";
/* CSS Document */


/*
===================================================
				OTHER COLORS
===================================================
*/
body {
	/*background:url(../images/boxed-pattren.jpg) fixed;*/
}
#wrapper {
}
#header {
	background: url(../images/dark-body-bg.jpg) repeat;
}
.top-nav {
	background: none repeat scroll 0 0 #fff;
}
.top-nav ul li a {
	color: #fff;
}
.top-nav ul li {
	border-left: 1px solid #3c3c3c;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	background: url(../images/banner-cap-bg.gif) repeat;
}
#banner .bx-wrapper .bx-prev:hover {
	background-color: #525252;
}
#banner .bx-wrapper .bx-next:hover {
	background-color: #525252;
}

.heading {
	background: #262626;
}
.heading h1, .error-page-form h1, .error-page-form strong.title, .heading h2, .post-box p, .comments .text-outer strong.title span.small, .comments .text-outer strong.title, .comment-row h4, .comment-row strong.marked, .event-box-inner h1, .comment-box strong.comment, .product-name > a, .cart_table_holder td span.amount, .cart_table_holder td span.amount, .cart_table_holder h2, .total_cart tbody td, .total_cart tfoot td, form.checkout h3, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th, .woocommerce table.shop_table td, .woocommerce-page table.shop_table td, .menu-list-text h3, .menu-list-text, .product-text h2, .product-text-box-1 ul li strong.even, .product-text-box-1 ul li strong.odd, .product-text-box-3 label, .product-outer strong.title, .product-review h2, .product-review-box .top strong.title, .product-review-box, .testo-text blockquote p, .book-table-form label, .social-input label, .address-area ul li, .address-area ul li a.email, .recepie-box strong.intro, .form-receipe label, .form-receipe .textarea, .text-box strong.title, .text-box strong.text, .dish-like-box h3, .dish-like-box h3, .chef-team h3, .book-form label, .tweets-box ul li strong.title, .face-review2 strong.title, .recepie-box h2, .recepie-box, .direction-box ul li, .share-box-outer h4, .today-recepie-box strong.title, .today-recepie-box, .recepie-menu-box .text strong.title, .recepie-menu-box .text strong.name, .testimonial-box h2, .meet-team h3, .opening-section .head h2, .blog-text h5, .blog-text {
	color: #fff;
}
.blog-blockquote p{
	color:#000;
}
.testimonial-box .carousel-control{
	background:#000;
}
.accordion-inner-data{
	background:#ccc;
}
.cart_table_holder table{
	background:#262626;
}
.happy-hours-box{
	background:#262626;
	color:#fff;
}
.contact-form .head{
	background:#262626;
}
.contact-form .head h2{
	color:#fff;
}
.address-box .head{
	background:#262626;
}
.address-box .head h3{
	color:#fff;
}
.happy-hours-box h3{
	color:#fff;
}
.right-data .top{
	color:#000;
	border-bottom:1px solid #000;
}
.rating-answer strong.title, .like-area a.like, .like-area a.dislike{
	color:#000;
}
.opening-section .head{
	background:#262626;
}
.right-data{
	border-left:1px solid #000
}
.testimonial-section{
	background:#262626;
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table{
	border:1px solid #fff;
}
.accordion-heading .accordion-toggle {
	background-color: #151315 !important;
	color: #8a898a !important;
	background-image: url("../images/plus-icon.png");
	background-position: 94% center;
	background-repeat: no-repeat;
}
.accordion-group {
	background: url(../images/banner-cap-bg.gif) repeat-x left bottom !important;
	margin: 0 !important;
}
.head h2 {
	color: #fff;
}
.right-panel{
	top:0;
}
#banner .bx-controls-direction{
	top:-148px !important;
}
.accordion-inner {
	background: url(../images/accordion-bg.gif) repeat;
}
.left-box h3 {
	color: #fcc71f;
}
.food-critic-box {
	background: #262626;
}
.featured-slider {
	border: 1px solid #0f0f0f;
}
.featured-slider li {
	border-left: 1px solid #262626;
}
.review-blockquote {
	background-image: url(../images/dark-quote-icon.png);
	background-repeat: no-repeat;
	background-position: 18px 6px;
	background-color: #070707;
	border: 1px solid #3a3939;
	color: #fff;
}
.review-blockquote p{
	color:#fff;
}
.form-receipe .textarea {
	background: #010101;
	border: 1px solid #545454;
}
.empty-border {
	background: url(../images/reviw-bg.gif) repeat;
}
.reservation-section {
	background: #1e1c1e;
	border: 1px solid #262626;
}
.reservation-box-1 {
	border-right: 1px solid #262626;
}
.reservation-box-2 {
	border-right: 1px solid #262626;
}
.reservation-box-1 h4 {
	color: #616161;
}
.reservation-box-1 strong.title {
	color: #fcb800;
}
.reservation-box-2 h4 {
	color: #616161;
}
.reservation-box-2 p {
	color: #616161;
}
.reservation-box-3 h4 {
	color: #616161;
}
.reservation-box-3 p {
	color: #616161;
}
.events-box-head {
	background: url(../images/reviw-bg.gif) repeat;
}
.events-box-head h5 {
	color: #fcb800;
}
.events-box {
	background: none;
}
.chef-box {
	background: #000;
	border: none;
}
.expertise-list h5 {
	color: #3b3b3b;
}
.expertise-list ul li{
	color:#777;
}
.chart strong.title{
	color:#616161 !important;
}
.percentage span{
	color:#616161 !important;
}
.chef-slider .carousel-control.left {
	top: 0;
	color: #fff;
	background:#2a2725;
}
.chef-slider .carousel-control.right {
	top: 0;
	color: #fff;
	background:#2a2725;
}
#footer {
	background: #1e1c1e;
	border-top: 5px solid #252525;
}
.footer-section-3 {
	background: #525252;
}
.copy-section strong.copy {
	font-weight: 600;
}
.head{
	background:url(../images/blog-line2.png) repeat-x left bottom;
}
.accordion-heading .accordion-toggle {
    background-color: #262626 !important;
    background-image:url(../images/dark-plus-icon.png) !important;
    background-position: 98% center;
    background-repeat: no-repeat;
    color: #151515;
    display: block;
    font-family: 'museo500';
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 13px;
    text-decoration: none;
}
.jcarousel-skin-tango .jcarousel-container{
	background:#262626 !important;
}
.featured-slider li{
	border-left:1px solid #373737;
}
.featured-slider li strong.hover-panel{
	background:#000;
	color:#493c39;
}
.accordion-heading .accordion-toggle{
	margin-bottom:1px !important;
}
#calendar{
	background:#fff;
}
.meet-team .text p,
.about-section-1 p,
.about-section-2 .box-1 .text p{
	color:#fff;
}
.unique-box{
	background:#262626;
}
.none{
	background:none !important;
	border:none !important;
}
.left-side, .bottom-sec strong.time, .chef-box .text .head strong.designation{
	color:#d2b997;
}