<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="KlickEntities" connectionString="metadata=res://*/Klick.csdl|res://*/Klick.ssdl|res://*/Klick.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Klick;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Pizzaness;Integrated Security=true;"/>-->
    <add name="KlickEntities" connectionString="metadata=res://*/Klick.csdl|res://*/Klick.ssdl|res://*/Klick.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Pizzaness;User Id=sa;Password=Test1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Pizzaness; User Id=sa;Password=Test1234;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Telerik.Web.Design, Version=2013.2.611.40, Culture=neutral, PublicKeyToken=121FAE78165BA3D4"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" theme="Default" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="ProductImage.ashx" type="ProductImage" verb="*" validate="false"/>
      <add verb="POST" path="HighchartsExport.axd" type="Tek4.Highcharts.Exporting.HttpHandler, Tek4.Highcharts.Exporting"/>
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
    </httpModules>
    <sessionState timeout="20" cookieless="false"/>
  </system.web>
  <location path="HighchartsExport.axd">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <appSettings>
    <add key="ConnectionStringName" value="DefaultConnection"/>
    <add key="GoogleDirection" value="http://maps.googleapis.com/maps/api/directions/xml?"/>
    <add key="DonotReplyEmail" value="no-reply@pizzaness.com"/>
    <add key="OrderReceiveEmail" value="smajidali26@hotmail.com"/>
    <add key="SmtpServer" value="smtpout.secureserver.net"/>
    <add key="SmtpPort" value="25"/>
    <add key="EmailAddress" value="orders@pizzaness.com"/>
    <add key="Password" value="Welcome123#"/>
    <add key="EnableSSL" value="false"/>
    <add key="BranchId" value="1"/>
    <add key="RandomStringSize" value="7"/>
    <add key="GridPageSize" value="10"/>
    <add key="IsClosed" value="false"/>
    <add key="Telerik.Menu.Skin" value="BlackMetroTouch"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled"/>
    <add key="Payment_x_login" value="WSP-PIZZA-&amp;X32rgAOrQ"/>
    <add key="Payment_x_test_request" value="true"/>
    <add key="Payment_x_show_form" value="PAYMENT_FORM"/>
    <add key="Payment_x_transaction_key" value="~KS1~GY~fu~goHllkGCA"/>
    <add key="interfax.dfs" value="http://ws.interfax.net/dfs.asmx"/>
    <add key="AllowFax" value="true"/>
    <add key="TimeDifference" value="0"/>
    <add key="CategoryId" value="1"/>
    <add key="FaxUsername" value="pizzaness"/>
    <add key="FaxPassword" value="3014642600"/>
    <add key="FaxNumber" value="+13014641100"/>
    <add key="ExactID" value="AE2449-01"/>
    <add key="ExactPassword" value="x924t703"/>
    <add key="TERMINAL_ID" value="184908"/>
    <add key="CLIENT_KEY" value="45c4ddcc-feb1-4cb1-99f0-1ba71d6d8f69"/>
    <add key="ServerID" value=""/>
    <add key="Identifier" value=""/>
    <add key="RSAPublicKey" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn20czAPZO8xX4D3XziMDp0T6RpzFl1tIo6PxmDZqgo4+hwLlC6uUNklUxsFYoOlTQWNjOZ40xPHR70E2rkNpXrT6d1bQS7xoL+hsL7j4mpfVOkzYb3nJ9K45lZOkgX/RNuMc2XPYLEOJ2F8kKW95PVgVf6oUupM3RcH1FXkJjsNtJnJgptWzoyAqbzxJ/iUPtfJl6KWlK3DKhppbqBaHmpedqvZcHkON8lbm4XUOuhD2FLpYSqq6Pa0Xoemd02kyDrzAFjHh5Kd0hksirmAznQKaiEM34Fal1caDYsajOWmRdzO5ZgdjNR0tspN7INPXgzJhAGqonPNP2n64qpn39wIDAQAB"/>
    <add key="Valutec.Valutec" value="http://ws.valutec.net/Valutec.asmx"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule"/>
      <remove name="RadCompression"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>
    </modules>
    <handlers>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="ServiceSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.demo.globalgatewaye4.firstdata.com/transaction/v11" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="FirstDataCreditTransaction.ServiceSoap" name="ServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>