<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringName" value="DefaultConnection"/>
    <add key="LiveWebsite" value="http://www.pizzaness.com/"/>
  <add key="PrinterName" value="Star TSP143LAN Cutter"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Pizzaness;Integrated Security=true;"/>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=PizzanessDev.db.10468986.hostedresource.com;Initial Catalog=PizzanessDev;User Id=PizzanessDev;Password=Welcome123#;"/>-->
  </connectionStrings>
</configuration>